.login-card{
    width:50% !important;
    height:50% !important
}
.login-form{
    vertical-align: middle;
    margin:0 auto;
    margin-top:30px;
    border: 1px;
}

.login-page-header{
font-family: Lato;
font-size: 38px;
font-weight: 500;
line-height: 46px;
text-align: center;
color: #1169AF;

padding-top: 10%;

}

.login-label{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.login-btn{
    background-color: #0A66C2;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}

.ant-card .ant-card-head-title {
    display: inline-block;
    flex: none !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 25px;
}

.responsive-image {
    max-width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 25px;
  }